tabgroup, tabbuttons, tabs>div {
  display: flex;
  gap: 10px;
}

tabgroup {
  width: 100%;
  height: 100%;
}

tabgroup[side="top"] {
  flex-direction: column;
}
tabgroup[side="left"] {
  flex-direction: row;
}
tabgroup[side="right"] {
  flex-direction: row-reverse;
}
tabgroup[side="bottom"] {
  flex-direction: column-reverse;
}

tabgroup[side="left"]>tabbuttons, tabgroup[side="left"]>tabs>div,
tabgroup[side="right"]>tabbuttons, tabgroup[side="right"]>tabs>div {
  flex-direction: column;
}

tabbuttons {
  justify-content: center;
}
tabbuttons>button>span {
  pointer-events: none;
}

tabbuttons>button:disabled {
  background: none;
  border-color: transparent;
  color: currentColor;
}

tabbuttons>button[active] {
  border-color: transparent;
  filter: contrast(1.05);
}

tabs {
  flex-grow: 1;
}
tabs>div {
  overflow: auto;
  width: 100%;
  height: 100%;
}

tabgroup[side="left"]>tabs>div, tabgroup[side="right"]>tabs>div {
  cursor: row-resize;
}
tabgroup[side="top"]>tabs>div, tabgroup[side="bottom"]>tabs>div {
  cursor: col-resize;
}

tab {
  flex-grow: 1;
  overflow: auto;
  cursor: default;
}
