tabgroup:not(.sideway)[side="left"]>tabbuttons,
tabgroup:not(.sideway)[side="right"]>tabbuttons {
  flex: 0 0 45px;
}

tabgroup.sideway[side="left"]>tabbuttons>button>span,
tabgroup.sideway[side="right"]>tabbuttons>button>span {
  writing-mode: tb;
}
tabgroup.sideway[side="left"]>tabbuttons>button>span {
  transform: rotate(180deg);
}
